**/*.code-workspace
**/*.iml
redis_services/hiredis
**/hiredis
**.o
**.vscode
**redis-stable
redis-5.0.8
kill_script.sh
/.idea
__pycache__
/testing/workload_files/100User_testWorkLoad.txt
/testing/workload_files/1000User_testWorkLoad.txt
/testing/workload_files/2016.txt
/testing/workload_files/final2006WorkLoad.txt
/testing/workload_files/final2007.txt
/testing/workload_files/final_workload_2009.txt
/testing/workload_files/final_workload_2011.txt
/testing/workload_files/final_workload_2013.txt
/testing/workload_files/final_workload_2014.txt
/testing/workload_files/final_workload_2015.txt
/testing/workload_files/final_workload_2017.txt
/testing/workload_files/final_workload_2018.txt
/testing/workload_files/final_workload_2019.txt
/testing/workload_files/final_workload_spring_2010.txt
/venv/
/testing/.pytest_cache/
