<!DOCTYPE html>

<head>
    <title>Day trader</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/day_trader.js"></script>
</head>


<html>
<body>
    
    <form>
        Day Trader Login
        <br>
            <input type="string" id="username">
        <br>
            <input type="string" id="password">
        <br>
            <button type="submit" onclick="login();">Login</button>
        <br>
    </form>
    
</body>
</html>